<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gausscode.competitiveanalysis.mapper.AppPartnersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gausscode.competitiveanalysis.entity.AppPartners">
        <id column="id" property="id" />
        <result column="app_id" property="appId" />
        <result column="label_id" property="labelId" />
        <result column="name" property="name" />
        <result column="compnay" property="compnay" />
    </resultMap>

</mapper>
